# Pandas Notes
  - When running Pandas locally it needs to be installed as seperate package as it was not part of default Python distribution.

In [ ]:
# To use pandas we need to import first.
# Pandas will represent data in 2 different structures:
# Series - 1D labeled array
# DataFrame - 2D labeled data structure with columns of potentially different types

import pandas as pd

df = pd.DataFrame({
    'emp_id' : [1, 2, 3, 4],
    'emp_name' : ['Alice', 'Bob', 'Charlie', 'David'],
    'emp_salary' : [70000, 80000, 90000, 60000],
    'department' : ['HR', 'Finance', 'IT', 'Marketing']
})

# To pring the DataFrame we just created, we can simply type its name
df

#print(df)

   emp_id emp_name  emp_salary department
0       1    Alice       70000         HR
1       2      Bob       80000    Finance
2       3  Charlie       90000         IT
3       4    David       60000  Marketing

In [7]:
# In a DF each column is a Series.
# From abobe DataFrame we can extract a column as Series like below:

emp_names = df['emp_name']

print(emp_names)

0      Alice
1        Bob
2    Charlie
3      David
Name: emp_name, dtype: object

In [13]:
# We can create a new series like below in an existing DataFrame.

gender = pd.Series(['M', 'F', 'M', 'F'], name='gender')

print(gender)

df['gender'] = gender

df

# Another way to create a Series and add to existing DataFrame
df['experience'] = pd.Series([5, 7, 6, 4])

df

# To add a series to specific index location
df.insert(2, 'status', pd.Series(['Active', 'Active', 'Inactive']))

df

0    M
1    F
2    M
3    F
Name: gender, dtype: object

   emp_id emp_name    status  emp_salary department gender  experience
0       1    Alice    Active       70000         HR      M           5
1       2      Bob    Active       80000    Finance      F           7
2       3  Charlie  Inactive       90000         IT      M           6
3       4    David       NaN       60000  Marketing      F           4

In [ ]:
# Data Frame describe() will give statistical summary of numerical columns.

df.describe()

         emp_id    emp_salary  experience
count  4.000000      4.000000    4.000000
mean   2.500000  75000.000000    5.500000
std    1.290994  12909.944487    1.290994
min    1.000000  60000.000000    4.000000
25%    1.750000  67500.000000    4.750000
50%    2.500000  75000.000000    5.500000
75%    3.250000  82500.000000    6.250000
max    4.000000  90000.000000    7.000000

In [ ]:
# To get the max value of a Numerical column
print(df)

max_salary = df['emp_salary'].max()
print("Max Salary:", max_salary)

# To get the min value of a Numerical column

min_salary = df['emp_salary'].min()
print("Min Salary:", min_salary)

   emp_id emp_name    status  emp_salary department gender  experience
0       1    Alice    Active       70000         HR      M           5
1       2      Bob    Active       80000    Finance      F           7
2       3  Charlie  Inactive       90000         IT      M           6
3       4    David       NaN       60000  Marketing      F           4
Max Salary: 90000
Min Salary: 60000

In [ ]:
print("\n--- Reading data from CSV file ---\n")
txn_df = pd.read_csv('sample_data/transactions.txt')

txn_df